.note {
    font-size: 0.775em;
    font-weight: bold;
    text-transform: uppercase;
    color: #6C6A6A;
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.questions-spinner{
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #EFEAEA;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0.5em 0;
    padding: 0.5em 0.5em 0.5em 1em;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    font-size: 30px;
}

#search:hover,
#search:focus {
    background: #DCDBE0;
}

#search button,
#search input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    color: inherit;
    font: inherit;
    outline: 0;
}

#search button {
    cursor: pointer;
    padding: 0 0.25em;
}

#search input {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#search input::-webkit-input-placeholder {
    color: #6C6A6A;
}

#search input::-moz-placeholder {
    color: #6C6A6A;
}

#search input:-ms-input-placeholder {
    color: #6C6A6A;
}

#search input::placeholder {
    color: #6C6A6A;
}

#search .spinner {
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
    display: none;
    padding: 0 0.25em;
}

#search.loading button {
    display: none;
}

#search.loading .spinner {
    display: block;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.fa-spin{
    -webkit-animation:fa-spin 1s infinite linear;
    animation:fa-spin 1s infinite linear
}

  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30%;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30%; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30%; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30%; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30%; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}